            <!-- Sağ Alan -->
            <aside class="sidebar">
               
                <!-- Son Yazılar Widget -->
                <div class="widget hakkimda">
                    <span lang="tr" class="widget-baslik">Hakkımda</span>
                    
                    <div class="alt">
	
                       <img src="{{ site.url }}/assets/images/{{ site.owner.avatar }}" alt="{{ site.owner.name }}">
                       
                       <h2>{{ site.owner.name }}</h2>
                       
                       <p>{{ site.owner.about }}</p>
                    </div>
                </div>
                <!-- Son Yazılar Widget Bitiş -->
                
            </aside>
            <!-- Sağ Alan Bitiş -->
